<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
<h2>{{.Title}}</h2>
<form method="post" action="{{.urlAction}}" enctype="multipart/form-data">
    {{.urlAction}}
    <label for="meetDesc">Meet Description :</label><br>
    <input type="text" id="meetDesc" name="meetDesc" value="{{.meetDesc}}"><br>
    <label for="roomId">Room :</label><br>
    <input type="number" id="roomId" name="roomId" value="{{.roomId}}"><br>
    <label for="meetDate">Date :</label><br>
    <input type="date" id="meetDate" name="meetDate" value="{{.meetDate}}"><br>
    <label for="startTime">Start Time</label><br>
    <input type="time" id="startTime" name="startTime" value="{{.startTime}}">
    <label for="endTime">End Time</label><br>
    <input type="time" id="endTime" name="endTime" value="{{.endTime}}"><br>

    <input type="submit" value="Add Room">
</form>

</body>
</html>