<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meetings</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>

<h2>Meetings</h2>
<a href="/meeting/new">Add New Meeting</a>
<table>
    <tr>
        <th>Meeting Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Finished</th>
        <th>Actions</th>
    </tr>
    {{range .Meetings}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Description}}</td>
        <td>{{.Date}}</td>
        <td>{{.StartTime}}</td>
        <td>{{.EndTime}}</td>
        <td>
            <a href="/meeting/edit/{{.Id}}">Edit</a>
            <a href="/meeting/delete/{{.Id}}">Delete</a>
        </td>
    </tr>
    {{end}}

</body>
</html>