<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>

<h2>{{.Title}}</h2>
<form method="post" action="{{.urlAction}}">
    <label for="roomName">Room Name :</label><br>
    <input type="text" id="roomName" name="roomName" value="{{.roomName}}"><br>
    <label for="roomDesc">Room Description :</label><br>
    <input type="text" id="roomDesc" name="roomDesc" value="{{.roomDesc}}"><br>
    <label for="capacity">Capacity :</label><br>
    <input type="number" id="capacity" name="capacity" value="{{.capacity}}"><br>
    <input type="submit" value="Add Room">
</form>

</body>
</html>