<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Room Management</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>
<h1>Meeting Room Management</h1>

<a href="/room/new">Add New Room</a>

<h2>Room List</h2>
<table>
    <tr>
        <th>Room Name</th>
        <th>Capacity</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    {{range .Rooms}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Capacity}}</td>
        <td>{{.Description}}</td>
        <td>
            <button><a href="/room/edit/{{.Id}}">Edit</a></button>
            <button><a href="/room/delete/{{.Id}}">Delete</a></button>
        </td>
    </tr>
    {{end}}

</table>
</body>
</html>